Repository falcosecurity/rules, pull requests merged in 2023-10, with the labels that each got.

#170 update(.github): enable CI checks for Falco 0.35.1
  .github/FALCO_VERSIONS
Labels: dco-signoff: yes, approved, lgtm, size/XS, kind/cleanup

#177 update(rules): add containerd_activities check to Clear Log Activities rule
  rules/falco_rules.yaml
Labels: kind/bug, dco-signoff: yes, approved, lgtm, size/XS, area/rules, area/maturity-stable

#182 Add detection for attempts to use CVE-2023-4911
  rules/falco-incubating_rules.yaml
Labels: kind/feature, dco-signoff: yes, approved, lgtm, size/S, area/rules, area/maturity-incubating
