Repository falcosecurity/rules, pull requests merged in 2023-04, with the labels that each got.

#43 cleanup(rules)!: refactor kernel module rule
  rules/falco_rules.yaml
Labels: kind/bug, dco-signoff: yes, approved, lgtm, size/S, kind/cleanup, area/rules

#45 new(rules): add umount macro
  rules/falco_rules.yaml
Labels: kind/feature, dco-signoff: yes, approved, lgtm, size/XS, area/rules

#47 Macro(network_tool_binaries) Added netcat binary
  rules/falco_rules.yaml
Labels: dco-signoff: yes, approved, lgtm, size/XS
