Repository falcosecurity/rules, pull requests merged in 2023-09, with the labels that each got.

#156 fix(.github): do not fail when no PR info found
  .github/workflows/rules.yaml
Labels: kind/bug, dco-signoff: yes, approved, lgtm, size/XS, kind/failing-test

#147 new(rules): add "Disallowed SSH Connection Non Standard Port" rule
  rules/falco-incubating_rules.yaml
Labels: kind/feature, dco-signoff: yes, approved, lgtm, size/S, area/rules, area/maturity-incubating

#157 new(rules): BPF Program Not Profiled
  rules/falco-sandbox_rules.yaml
Labels: kind/feature, dco-signoff: yes, approved, lgtm, size/S, area/rules, area/maturity-sandbox

#162 fix(build): update latest even if higher prereleases are present
  build/registry/tag.go
  build/registry/tag_test.go
Labels: kind/bug, dco-signoff: yes, approved, lgtm, size/S, area/build

#161 new(rules): Decoding Payload in Container
  rules/falco-sandbox_rules.yaml
Labels: kind/feature, dco-signoff: yes, approved, lgtm, size/S, area/rules, area/maturity-sandbox

#139 new(rules): Exfiltrating Artifacts via Kubernetes Control Plane
  rules/falco-incubating_rules.yaml
Labels: kind/feature, dco-signoff: yes, approved, lgtm, size/M, area/rules, area/maturity-incubating

#158 cleanup(rules): graduate 'Disallowed SSH Connection Non Standard Port' to maturity_stable
  rules/falco-incubating_rules.yaml
  rules/falco_rules.yaml
Labels: dco-signoff: yes, approved, lgtm, size/M, kind/cleanup, area/rules, area/maturity-stable

#98 new(rules): add rule for detecting fileless execution via memfd_create
  rules/falco-incubating_rules.yaml
Labels: kind/feature, dco-signoff: yes, approved, lgtm, size/S, area/rules

#159 new(rules): Basic Interactive Reconnaissance
  rules/falco-sandbox_rules.yaml
Labels: kind/feature, dco-signoff: yes, approved, lgtm, size/S, area/rules, area/maturity-sandbox

#160 new(rules): Change namespace privileges via unshare
  rules/falco-incubating_rules.yaml
Labels: kind/feature, dco-signoff: yes, approved, lgtm, size/S, area/rules, area/maturity-incubating

#163 fix(ci): formatting rules overview doc
  .github/scripts/rules_overview_generator.py
Labels: dco-signoff: yes, approved, lgtm, size/M, area/documentation, kind/cleanup

#164 cleanup(rules): format unshare rule desc
  rules/falco-incubating_rules.yaml
Labels: dco-signoff: yes, approved, lgtm, size/XS, kind/cleanup, area/rules

#165 update(rules): graduate fileless execution rule
  rules/falco-incubating_rules.yaml
  rules/falco_rules.yaml
Labels: kind/feature, dco-signoff: yes, approved, lgtm, size/M, area/rules, area/maturity-stable

#167 update(rules/sandbox): fix misleading name
  rules/falco-sandbox_rules.yaml
Labels: dco-signoff: yes, approved, lgtm, size/XS, kind/cleanup, area/rules, area/maturity-sandbox

#168 fix(rules/sandbox): update rule desc of "Kubernetes Client Tool Launched in Container"
  rules/falco-sandbox_rules.yaml
Labels: dco-signoff: yes, approved, lgtm, size/XS, kind/cleanup, area/rules

#169 update(build): update FALCO_VERSIONS in preparation for rules 2.0.0
  .github/FALCO_VERSIONS
Labels: dco-signoff: yes, approved, lgtm, size/XS, kind/cleanup, area/build

#171 update(registry): add signature information for sandbox, incubating and stable rules
  registry.yaml
Labels: dco-signoff: yes, approved, lgtm, size/S, kind/cleanup, area/registry

#173 fix(registry): correct repository name in the signature info
  registry.yaml
Labels: kind/bug, dco-signoff: yes, approved, lgtm, size/XS, area/registry

#175 update(readme): add example helm command line
  README.md
Labels: kind/documentation, dco-signoff: yes, approved, lgtm, size/XS, area/documentation

#166 new(rules): add modification to authorized keys rule
  rules/falco-incubating_rules.yaml
Labels: kind/feature, dco-signoff: yes, approved, lgtm, size/S, area/rules, area/maturity-incubating

#178 update(rules): convert required engine version to new semver represen…
  rules/falco-deprecated_rules.yaml
  rules/falco-incubating_rules.yaml
  rules/falco-sandbox_rules.yaml
  rules/falco_rules.yaml
Labels: kind/feature, dco-signoff: yes, approved, lgtm, size/XS, area/rules, area/maturity-stable, area/maturity-incubating, area/maturity-sandbox, area/maturity-deprecated
