Repository falcosecurity/rules, pull requests merged in 2023-08, with the labels that each got.

#127 cleanup: remove `requirements.txt` file
  .github/workflows/pages.yaml
  requirements.txt
Labels: dco-signoff: yes, approved, lgtm, size/XS, kind/cleanup, area/build

#128 cleanup(rules): update container_entrypoint (1/n)
  rules/falco_rules.yaml
Labels: dco-signoff: yes, approved, lgtm, size/XS, kind/cleanup, area/rules

#129 cleanup(rules): adjust priority for Run shell untrusted
  rules/falco_rules.yaml
Labels: dco-signoff: yes, approved, lgtm, size/XS, kind/cleanup, area/rules

#136 update(rules): comment how to reduce reverse shell detection noise
  rules/falco_rules.yaml
Labels: kind/documentation, dco-signoff: yes, approved, lgtm, size/S, area/rules

#137 cleanup(rules): update container_entrypoint (2/n)
  rules/falco_rules.yaml
Labels: dco-signoff: yes, approved, lgtm, size/XS, kind/cleanup, area/rules

#134 chore(deps): Bump falcoctl in registry binary to resolve CVE-2022-1996 in indirect dependency github.com/emicklei/go-restful
  build/registry/go.mod
  build/registry/go.sum
Labels: kind/bug, dco-signoff: yes, approved, size/XXL, lgtm, area/registry, area/build

#64 feat(build/registry): return built oci artifact digest
  build/registry/cmd.go
  build/registry/oci.go
Labels: kind/feature, dco-signoff: yes, approved, lgtm, size/M, area/registry, area/build

#135 cleanup(ci): update overview generator for multiple rules files in rules dir
  .github/scripts/rules_overview_generator.py
  .github/workflows/pages.yaml
Labels: dco-signoff: yes, approved, lgtm, size/L, area/documentation, kind/cleanup

#140 cleanup(rules): re-balance rules, bump several rules to maturity_incubating
  rules/falco_rules.yaml
Labels: dco-signoff: yes, approved, lgtm, size/S, kind/cleanup, area/rules, area/maturity-incubating

#141 cleanup(rules): improve `desc` (1/n)
  rules/falco_rules.yaml
Labels: dco-signoff: yes, approved, lgtm, size/L, kind/cleanup, area/rules, area/maturity-stable, area/maturity-incubating, area/maturity-sandbox

#145 cleanup(rules): assign `maturity_deprecated` to some rules + improve desc (2/n)
  rules/falco_rules.yaml
Labels: kind/documentation, dco-signoff: yes, approved, lgtm, size/L, kind/cleanup, area/rules, area/maturity-stable, area/maturity-incubating, area/maturity-sandbox

#148 cleanup(rules): lint macro style and ensure consistency
  rules/falco_rules.yaml
Labels: dco-signoff: yes, approved, lgtm, size/M, kind/cleanup, area/rules

#146 cleanup(rules): re-balance rules and assign maturity_stable to some rules
  rules/falco_rules.yaml
Labels: dco-signoff: yes, approved, lgtm, size/XS, kind/cleanup, area/rules, area/maturity-stable
