Repository falcosecurity/rules, pull requests merged in 2023-05, with the labels that each got.

#49 Adding conda as a package manager for Python that could be used
  rules/falco_rules.yaml
Labels: kind/feature, dco-signoff: yes, approved, lgtm, size/XS, area/rules

#53 Adding AKS rules
  rules/falco_rules.yaml
Labels: kind/feature, dco-signoff: yes, approved, lgtm, size/S, area/rules

#61 fix(registry/index): do not add artifact name to keywords if already present
  build/registry/index.go
  build/registry/testdata/registry.yaml
Labels: kind/bug, dco-signoff: yes, approved, lgtm, size/S, area/registry

#40 Rule: PTRACE anti-debug attempt
  rules/falco_rules.yaml
Labels: dco-signoff: yes, approved, lgtm, size/XS, area/rules, kind/rule-create

#60 Rule: Search Private Keys or Passwords / Add private key candidates
  rules/falco_rules.yaml
Labels: dco-signoff: yes, approved, lgtm, size/XS
