Repository falcosecurity/rules, pull requests merged in 2024-01, with the labels that each got.

#216 update(deprecated_rules): use SemVer `required_engine_version`
  rules/falco-deprecated_rules.yaml
Labels: dco-signoff: yes, approved, lgtm, size/XS, kind/cleanup, area/rules, area/maturity-deprecated

#219 update(build/registry): allow optional auth to update-index cmd
  build/registry/cmd.go
Labels: kind/feature, dco-signoff: yes, approved, lgtm, size/S, area/build

#221 ci(.github): add 0.37 to FALCO_VERSIONS
  .github/FALCO_VERSIONS
Labels: dco-signoff: yes, approved, lgtm, size/XS, kind/cleanup, area/build
