Repository falcosecurity/rules, pull requests merged in 2025-02, with the labels that each got.

#268 rules: add runc to known_memfd_execution_binaries
  rules/falco_rules.yaml
Labels: kind/bug, dco-signoff: yes, approved, lgtm, size/XS, area/rules, area/maturity-stable

#271 fix(ci): use falcosecurity/falco instead of falcosecurity/falco-no-driver
  .github/workflows/rules.yaml
  build/checker/cmd/common.go
Labels: kind/bug, dco-signoff: yes, approved, lgtm, size/XS, area/build

#272 fix(ci): update python deps used in github pages
  .github/scripts/.python-version
  .github/scripts/pyproject.toml
  .github/scripts/requirements.txt
  .github/scripts/uv.lock
  .github/workflows/pages.yaml
Labels: dco-signoff: yes, approved, lgtm, size/L, kind/cleanup, area/build
