Repository falcosecurity/rules, pull requests merged in 2025-05, with the labels that each got.

#286 fix(rules): add `conmon` to `container_entrypoint` macro.
  rules/falco-incubating_rules.yaml
  rules/falco_rules.yaml
Labels: kind/bug, dco-signoff: yes, approved, lgtm, size/XS, area/rules, area/maturity-stable, area/maturity-incubating

#288 cleanup(rules): drop parentheses around args in rule outputs.
  rules/falco-deprecated_rules.yaml
  rules/falco-incubating_rules.yaml
  rules/falco-sandbox_rules.yaml
  rules/falco_rules.yaml
Labels: dco-signoff: yes, approved, lgtm, size/L, kind/cleanup, area/rules, area/maturity-stable, area/maturity-incubating, area/maturity-sandbox, area/maturity-deprecated

#290 Allow new sshd-session binary to read sensitive files
  rules/falco_rules.yaml
Labels: kind/bug, dco-signoff: yes, approved, lgtm, size/XS, area/rules, area/maturity-stable
